services:
  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wp
      MYSQL_PASSWORD: wp
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"

  wordpress:
    build: .
    depends_on:
      - db
    ports:
      - "8000:80"
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wp
      WORDPRESS_DB_PASSWORD: wp
      WORDPRESS_DB_NAME: wordpress
    volumes:
      - wp:/var/www/html
      - /home/stefan/Projects/IvyForms.e2e/ivyforms:/var/www/html/wp-content/plugins/ivyforms

volumes:
  wp:
