:root {
  --shadow-100: 0px 1px 2px 0px rgba(18, 26, 38, 0.3), 0px 1px 3px 1px rgba(18, 26, 38, 0.15);
  --shadow-200: 0px 1px 2px 0px rgba(18, 26, 38, 0.3), 0px 2px 6px 2px rgba(18, 26, 38, 0.15);
  --shadow-300: 0px 4px 8px 3px rgba(18, 26, 38, 0.15), 0px 1px 3px 0px rgba(18, 26, 38, 0.3);
  --shadow-400: 0px 6px 10px 4px rgba(18, 26, 38, 0.15), 0px 2px 3px 0px rgba(18, 26, 38, 0.3);
  --shadow-500: 0px 8px 12px 6px rgba(18, 26, 38, 0.15), 0px 4px 4px 0px rgba(18, 26, 38, 0.3);
  --shadow-sheet: 0px 10px 10px -2px rgba(18, 26, 38, 0.05), 0px 4px 3px 0px rgba(18, 26, 38, 0.03);
}
