// Success
$primitive-status-success-4: #0d260f;
$primitive-status-success-3: #1a4c1e;
$primitive-status-success-2: #27722d;
$primitive-status-success-1: #34983c;
$primitive-status-success-0: #4cb054;
$primitive-status-success--1: #67cb6f;
$primitive-status-success--2: #8dd893;
$primitive-status-success--3: #b3e5b7;
$primitive-status-success--4: #d9f2db;

// Success WCAG - Light theme
$primitive-status-success-wcag-light-4: #0d260f;
$primitive-status-success-wcag-light-3: #1a4c1e;
$primitive-status-success-wcag-light-2: #27722d;
$primitive-status-success-wcag-light-1: #34983c;
$primitive-status-success-wcag-light-0: #017a6f;
$primitive-status-success-wcag-light--1: #4cb054;
$primitive-status-success-wcag-light--2: #67cb6f;
$primitive-status-success-wcag-light--3: #b3e5b7;
$primitive-status-success-wcag-light--4: #d9f2db;

// Success WCAG - Dark theme
$primitive-status-success-wcag-dark-4: #d9f2db;
$primitive-status-success-wcag-dark-3: #b3e5b7;
$primitive-status-success-wcag-dark-2: #8dd893;
$primitive-status-success-wcag-dark-1: #67cb6f;
$primitive-status-success-wcag-dark-0: #008175;
$primitive-status-success-wcag-dark--1: #4cb054;
$primitive-status-success-wcag-dark--2: #34983c;
$primitive-status-success-wcag-dark--3: #27722d;
$primitive-status-success-wcag-dark--4: #1a4c1e;

// Warning
$primitive-status-warning-4: #331700;
$primitive-status-warning-3: #662e00;
$primitive-status-warning-2: #994500;
$primitive-status-warning-1: #cc5c00;
$primitive-status-warning-0: #f0852e;
$primitive-status-warning--1: #ff9641;
$primitive-status-warning--2: #ffab66;
$primitive-status-warning--3: #ffc799;
$primitive-status-warning--4: #ffe3cc;

// Warning WCAG - Light theme
$primitive-status-warning-wcag-light-4: #331700;
$primitive-status-warning-wcag-light-3: #662e00;
$primitive-status-warning-wcag-light-2: #994500;
$primitive-status-warning-wcag-light-1: #cc5c00;
$primitive-status-warning-wcag-light-0: #c15700;
$primitive-status-warning-wcag-light--1: #f0852e;
$primitive-status-warning-wcag-light--2: #ff9641;
$primitive-status-warning-wcag-light--3: #ffc799;
$primitive-status-warning-wcag-light--4: #ffe3cc;

// Warning WCAG - Dark theme
$primitive-status-warning-wcag-dark-4: #ffe3cc;
$primitive-status-warning-wcag-dark-3: #ffc799;
$primitive-status-warning-wcag-dark-2: #ffab66;
$primitive-status-warning-wcag-dark-1: #ff9641;
$primitive-status-warning-wcag-dark-0: #ff9641;
$primitive-status-warning-wcag-dark--1: #f0852e;
$primitive-status-warning-wcag-dark--2: #cc5c00;
$primitive-status-warning-wcag-dark--3: #994500;
$primitive-status-warning-wcag-dark--4: #662e00;

// Danger
$primitive-status-danger-4: #510303;
$primitive-status-danger-3: #650101;
$primitive-status-danger-2: #970202;
$primitive-status-danger-1: #ca0202;
$primitive-status-danger-0: #d92e2e;
$primitive-status-danger--1: #e95d5d;
$primitive-status-danger--2: #ed7878;
$primitive-status-danger--3: #f3a5a5;
$primitive-status-danger--4: #f9d2d2;

// Danger WCAG - Light theme
$primitive-status-danger-wcag-light-4: #510303;
$primitive-status-danger-wcag-light-3: #650101;
$primitive-status-danger-wcag-light-2: #970202;
$primitive-status-danger-wcag-light-1: #ca0202;
$primitive-status-danger-wcag-light-0: #ca0202;
$primitive-status-danger-wcag-light--1: #d92e2e;
$primitive-status-danger-wcag-light--2: #ff6f6f;
$primitive-status-danger-wcag-light--3: #f3a5a5;
$primitive-status-danger-wcag-light--4: #f9d2d2;

// Danger WCAG - Dark theme
$primitive-status-danger-wcag-dark-4: #f9d2d2;
$primitive-status-danger-wcag-dark-3: #f3a5a5;
$primitive-status-danger-wcag-dark-2: #ed7878;
$primitive-status-danger-wcag-dark-1: #ff6f6f;
$primitive-status-danger-wcag-dark-0: #d93632;
$primitive-status-danger-wcag-dark--1: #d92e2e;
$primitive-status-danger-wcag-dark--2: #ca0202;
$primitive-status-danger-wcag-dark--3: #970202;
$primitive-status-danger-wcag-dark--4: #650101;
