:root,
:root .ivyforms-theme-dark {
  /** WB **/
  --map-wb: var(--theme-wb);
  --map-wb-o90: var(--theme-wb-o90);
  --map-wb-o80: var(--theme-wb-o80);
  --map-wb-o70: var(--theme-wb-o70);
  --map-wb-o60: var(--theme-wb-o60);
  --map-wb-o50: var(--theme-wb-o50);
  --map-wb-o40: var(--theme-wb-o40);
  --map-wb-o30: var(--theme-wb-o30);
  --map-wb-o20: var(--theme-wb-o20);
  --map-wb-o10: var(--theme-wb-o10);
  --map-wb-o05: var(--theme-wb-o05);

  /** BW **/
  --map-bw: var(--theme-bw);
  --map-bw-o90: var(--theme-bw-o90);
  --map-bw-o80: var(--theme-bw-o80);
  --map-bw-o70: var(--theme-bw-o70);
  --map-bw-o60: var(--theme-bw-o60);
  --map-bw-o50: var(--theme-bw-o50);
  --map-bw-o40: var(--theme-bw-o40);
  --map-bw-o30: var(--theme-bw-o30);
  --map-bw-o20: var(--theme-bw-o20);
  --map-bw-o10: var(--theme-bw-o10);
  --map-bw-o05: var(--theme-bw-o05);
}
